$brand-primary: #d64227;
$brand-primary-dark: #ad341f;
$brand-primary-light: #d7523a;
$brand-secondary: #142b54;
$brand-dark: #303030;
$brand-light-grey: #f8f8f8;
$brand-medium-grey: #e6e6e6;
$brand-light: #ffffff;
$brand-text: #212529;
$cui-sidebar-occupy-start: 0px;
$cui-sidebar-occupy-end: 250px;
$font-large: 16px;
$font-medium: 14px;
$font-small: 12px;

/* BACKGROUND COLOR UTILITY CLASSES */
.bg-brand-primary { background-color: $brand-primary !important; }
.bg-brand-primary-dark { background-color: $brand-primary-dark !important; }
.bg-brand-primary-light { background-color: $brand-primary-light !important; }
.bg-brand-secondary { background-color: $brand-secondary !important; }
.bg-brand-dark { background-color: $brand-dark !important; }
.bg-brand-medium-grey { background-color: $brand-medium-grey !important; }
.bg-brand-light-grey { background-color: $brand-light-grey !important; }
.bg-brand-light { background-color: $brand-light !important; }
.bg-brand-text { background-color: $brand-text !important; }

/*TEXT COLOR UTILITY CLASSES */
.text-brand-primary { color: $brand-primary !important; }
.text-brand-secondary { color: $brand-secondary !important; }
.text-brand-light-grey { color: $brand-light-grey !important; }
.text-brand-dark { color: $brand-dark !important; }
.text-brand-light { color: $brand-light !important; }
.text-brand-text { color: $brand-text !important; }

/* ICON COLOR UTILITY CLASSES */
//.icon-primary-alert { color: $cui-primary-text-emphasis !important; }

/* FONT UTILITY CLASSES */
.font-l { font-size: $font-large; }
.font-m { font-size: $font-medium; }
.font-s { font-size: $font-small; }

